@font-face {
  font-family: "Nasalization";
  src: url(fonts/nasalization-rg.otf);
}
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url(img/Rectangle\ 3.png);
  background-repeat: no-repeat;
  background-position: top 300px right 0;
  background-color: #132F59;
  position: relative;
}
body .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 10px 0;
  background-color: #132F59;
}
body .header .main-nav {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #daf8e3;
}
body .header .nav-links {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
}
body .header .nav-links li {
  list-style-type: none;
}
body .header .nav-links li a {
  white-space: nowrap;
  color: white;
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
}
body .header .burger {
  display: none;
  padding: 0.5rem;
  cursor: pointer;
}
body .header .line {
  height: 2px;
  width: 35px;
  margin: 0.5rem 0;
  background: #daf8e3;
  transition: transform 0.75s ease, opacity 0.75s ease;
}
body .header .main-nav.show .line1 {
  transform: translate(-10px) rotate(45deg) translate(15px);
}
body .header .main-nav.show .line2 {
  opacity: 0;
}
body .header .main-nav.show .line3 {
  transform: translate(-10px) rotate(-45deg) translate(15px);
}
body .header .main-nav.show .nav-links {
  transform: translateX(0%);
}
@media screen and (max-width: 992px) {
  body .header .header__row {
    justify-content: space-between;
  }
  body .header .main-nav {
    margin-top: 0px;
  }
  body .header .burger {
    display: block;
  }
  body .header .nav-links {
    position: fixed;
    top: 8vh;
    right: 0;
    height: 40vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    background-color: #132F59;
    transition: transform 1s ease;
  }
}
body .home-page {
  margin-bottom: 80px;
}
body .home-page__title {
  position: relative;
  z-index: 1;
  margin-top: 200px;
}
body .home-page__title .svg {
  position: absolute;
  top: -180px;
  left: -110px;
}
body .home-page__title .line-for-btn {
  position: absolute;
  width: 100px;
  height: 100px;
  border-bottom: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
}
body .home-page p {
  padding-left: 7px;
  white-space: nowrap;
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #FFFFFF;
  letter-spacing: 0.08em;
}
body .home-page .btn {
  margin-top: 40px;
}
body .home-page .btn img {
  margin-left: 45px;
}
body .home-page__title_photo {
  position: relative;
}
body .home-page__title_photo .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
body .home-page__title_photo .fade:not(.show) {
  opacity: 1;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
body .home-page__title_photo .slide {
  background-position: center;
  background-size: cover;
  background-image: url(img/lance.png);
  display: none;
}
body .home-page__title_photo .slide img {
  -o-object-fit: cover;
     object-fit: cover;
}
body .home-page__title_photo .btn-switch {
  position: absolute;
  bottom: 0px;
}
body .home-page__title_photo button {
  width: 68px;
  height: 40px;
  background-color: #FFFFFF;
  border: none;
}
body .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
}
body .about__text {
  flex-direction: column;
  gap: 10px;
}
body .about__text p {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #000000;
}
body .about__line-left {
  z-index: 3;
  width: 50px;
  height: 100px;
  border-top: 4px solid #FFFFFF;
  border-right: 4px solid #FFFFFF;
  position: absolute;
}
body .about__line-right {
  z-index: 3;
  width: 50px;
  height: 100px;
  border-bottom: 4px solid #FFFFFF;
  border-left: 4px solid #FFFFFF;
  position: absolute;
}
body .about .about-bg {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-left: 0px;
  background-color: #FFFFFF;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 100px;
}
body .about .about-bg .title-section {
  color: black;
  font-size: 68px;
}
body .about .about-bg2 {
  position: relative;
  margin-top: 50px;
}
body .about .about-bg2__line {
  right: 12px;
  position: absolute;
  width: 100px;
  height: 100px;
  border-top: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}
body .about .about-bg2__img {
  display: flex;
}
body .about .about-bg2__img img {
  width: 398px;
  height: 592px;
}
body .about .about-bg2 p {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 42px;
  color: #FFFFFF;
}
body .about .about-bg2__text2 {
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
body .about .about-bg2__text2_strong-text {
  font-weight: 1000;
  font-size: 30px;
  line-height: 42px;
}
body .title-section {
  font-family: "Nasalization";
  font-style: normal;
  font-weight: 400;
  line-height: 100px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
}
body .btn {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 457;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  width: 277px;
  height: 53px;
  border: 2px solid #FFFFFF;
}

@media only screen and (max-width: 1200px) {
  .about {
    margin-top: 0px;
  }
  .slide {
    height: 600px;
  }
}
@media only screen and (min-width: 1200px) {
  .slide {
    width: 100%;
    height: 600px;
  }
}
@media only screen and (max-width: 992px) {
  .about-bg2__img {
    justify-content: center;
  }
  .btn-switch {
    left: 0px;
  }
  .line-for-btn {
    top: 215px;
    left: -10px;
  }
  .about__line-left {
    left: -10px;
    top: -10px;
    transform: scaleX(-1);
  }
  .about__line-right {
    right: -10px;
    bottom: -10px;
    transform: scaleX(-1);
  }
}
@media only screen and (min-width: 200px) and (max-width: 600px) {
  .title-section {
    font-size: 50px;
  }
  .home-page p {
    font-size: 18px;
  }
  .home-page__title_photo {
    margin-top: 40px;
  }
}
@media only screen and (min-width: 601px) {
  .title-section {
    font-size: 80px;
  }
  .home-page p {
    font-size: 24px;
  }
  .home-page__title_photo {
    margin-top: 40px;
  }
}
@media only screen and (min-width: 993px) {
  .line-for-btn {
    left: 0px;
    top: 330px;
  }
  .about__line-left {
    left: -60px;
    top: 0px;
  }
  .about__line-right {
    right: -60px;
    bottom: 0px;
  }
}/*# sourceMappingURL=style.css.map */