@font-face {
    font-family: 'Nasalization';
    src: url(fonts/nasalization-rg.otf);
}


* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #132F59;
    position: relative;

    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        padding: 10px 0;
        background-color: #132F59;

        .main-nav {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #daf8e3;
        }

        .nav-links {
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 4rem;

            li {
                list-style-type: none;

                a {
                    white-space: nowrap;
                    color: white;
                    font-family: 'Roboto Flex';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 23px;
                    text-decoration: none;
                }
            }
        }

        .burger {
            display: none;
            padding: 0.5rem;
            cursor: pointer;
        }

        .line {
            height: 2px;
            width: 35px;
            margin: 0.5rem 0;
            background: #daf8e3;
            transition: transform 0.75s ease, opacity 0.75s ease;
        }

        .main-nav.show .line1 {
            transform: translate(-10px) rotate(45deg) translate(15px);
        }

        .main-nav.show .line2 {
            opacity: 0;
        }

        .main-nav.show .line3 {
            transform: translate(-10px) rotate(-45deg) translate(15px);
        }

        .main-nav.show .nav-links {
            transform: translateX(0%);
        }

        @media screen and (max-width: 992px) {
            .header__row {
                justify-content: space-between;
            }

            .main-nav {
                margin-top: 0px;
            }

            .burger {
                display: block;
            }

            .nav-links {
                position: fixed;
                top: 8vh;
                right: 0;
                height: 40vh;
                width: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                transform: translateX(100%);
                background-color: #132F59;
                transition: transform 1s ease;
            }
        }
    }

    .home-page {
        margin-bottom: 80px;

        &__title {
            position: relative;
            z-index: 1;
            margin-top: 200px;

            .svg {
                position: absolute;
                top: -180px;
                left: -110px;
            }

            .line-for-btn {
                position: absolute;
                left: 0px;
                top: 330px;
                width: 100px;
                height: 100px;
                border-bottom: 1px solid #FFFFFF;
                border-left: 1px solid #FFFFFF;
            }
        }

        p {
            padding-left: 7px;
            white-space: nowrap;
            font-family: 'Roboto Flex';
            font-style: normal;
            font-weight: 400;
            font-size: 26px;
            line-height: 28px;
            color: #FFFFFF;
            letter-spacing: 0.08em;
        }

        .btn {
            margin-top: 40px;

            img {
                margin-left: 45px;
            }
        }

        &__title_photo {
            position: relative;
            width: 873px;
            height: 552px;

            .fade {
                animation-name: fade;
                animation-duration: 1.5s;
            }

            .fade:not(.show) {
                opacity: 1;
            }

            @keyframes fade {
                from {
                    opacity: .4
                }

                to {
                    opacity: 1
                }
            }

            .slide {
                display: none;
            }

            .btn-switch {
                position: absolute;
                bottom: 0px;
            }

            button {
                width: 68px;
                height: 40px;
                background-color: #FFFFFF;
                border: none;
            }
        }

        @media only screen and (max-width:992px) {
            .row {
                gap: 40px;

                .btn-switch {
                    left: 0px;
                }

                .line-for-btn {
                    top: 215px;
                    left: -10px;
                }
            }
        }

    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        margin-top: 100px;

        &__text {
            flex-direction: column;
            gap: 10px;

            p {
                font-family: 'Roboto Flex';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 130%;
                color: #000000;
            }
        }

        &__line-left {
            width: 100px;
            height: 100px;
            border-top: 4px solid #FFFFFF;
            border-right: 4px solid #FFFFFF;
            position: absolute;
            left: -110px;
            top: 0px;
        }

        &__line-right {
            width: 100px;
            height: 100px;
            border-bottom: 4px solid #FFFFFF;
            border-left: 4px solid #FFFFFF;
            position: absolute;
            right: -110px;
            bottom: 0px;
        }

        .about-bg {
            position: relative;

            .title-section {
                color: black;
                font-size: 68px;
            }

            margin-right: auto;
            margin-left: auto;
            margin-left: 0px;
            background-color: #FFFFFF;
            padding-left: 40px;
            padding-top: 40px;
            padding-bottom: 40px;
            padding-right: 100px;
        }

        .about-bg2 {
            position: relative;

            &__line {
                right: 0px;
                position: absolute;
                width: 100px;
                height: 100px;
                border-top: 1px solid #FFFFFF;
                border-right: 1px solid #FFFFFF;
            }

            &__img {
                display: flex;
                justify-content: end;

                img {
                    width: 398px;
                    height: 592px;
                }
            }

            margin-top: 50px;

            p {
                font-family: 'Roboto Flex';
                font-style: normal;
                font-weight: 400;
                font-size: 25px;
                line-height: 42px;
                color: #FFFFFF;
            }

            &__text2 {
                padding-right: 100px;
                display: flex;
                flex-direction: column;
                gap: 30px;

                &_strong-text {
                    font-weight: 1000;
                    font-size: 30px;
                    line-height: 42px;
                }
            }
        }




    }

    .title-section {
        font-family: 'Nasalization';
        font-style: normal;
        font-weight: 400;
        font-size: 84px;
        line-height: 100px;
        letter-spacing: 0.08em;
        color: #FFFFFF;
    }

    .btn {
        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 457;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
        width: 277px;
        height: 53px;
        border: 2px solid #FFFFFF;
    }

    @media only screen and (max-width:992px) {
        .about {
            width: 100%;
            margin-top: 0px;
        }
    }
}

@media only screen and (max-width:992px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
}